select{
    outline: none;
    border:  1px solid transparent;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
}

select > option:checked { 
    color: #000 !important;
}

option{
    color: black;
}

option:disabled{
    color: grey;
}

