select{
    outline: none;
    width: 100%;
    border:  1px solid transparent;
    font-size: 16sspx;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--inputBg);
}

select > option:checked { 
    color: #000 !important;
}

option{
    color: black;
}

option:disabled{
    color: grey;
}

