.editContent {
    margin: 5px 15px;
}
.editContent h2{
    text-align: center;
    margin: 10px 0;
    color: white;
}

.edit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit h3{
    color: white;
    text-align: center;
    text-decoration: underline;
}

.editVideo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

input,
textarea{
    background-color: white;
    font-size: 16px;
}

::placeholder{
    font-size: 16px;
}