.name__match{
    display: flex;
}

.matchItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.match{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}