.name__match{
    display: flex;
}

.matchItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page{
    display: flex;

}

.match{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.match p{
    color: var(--baseFont);    
}

.match input,
.match select {
    width: 300px;
}

.result{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.calculate{
    background-color: var(--baseBackground);
    margin: 0 30px;
    border-radius: 20px;
    padding: 20px;
    color: var(--baseFont);
}

.noBook{
    display: flex; 
	justify-content: space-evenly; 
}

.nameList{
    width: 50%;
}