.category__item{
    display: flex;
}

.search{
    width: 100%;
}

.add__supItem{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.add__supItem input{
    margin-bottom: 10px;
}

.videoDropdown{
    display: flex;
    gap: 25px;
}

.CategoryItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

.CategoryItem h3{
    margin: 0;
}

ul{
    list-style-type: none;
    margin-bottom: 10px;
}

li{
    cursor: pointer;
}

hr{
    margin: -25px auto 30px;
	padding: 0;
	height: 40px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}

.add__video{
    margin: 20px;
    display: flex;
    gap: 20px;
}