.header,
.footer{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--baseBackground);
    box-shadow: 0px 4px 4px 0px var(--baseBackground);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    position: relative;
    bottom: 0;
	padding: 15px 0;
}

.title{
	text-align: center;
}

.book{
	margin: 0 auto;
    background-image: url('../public/img/png/book.png');

	display: flex; 
	justify-content: space-evenly; 
	background-size: 97vw;
	width:97vw;
    height: 1150px;

    border-radius: 20px;
    background-size: contain;
	background-repeat: no-repeat;
    background-position: center top;

	overflow: auto;
	box-sizing: border-box;
}

.form__cotainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

section {
	font-size: 22px;
	width: 100%;
	max-width: 450px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
	background-color: var(--formBackground);
	border-radius: 15px;
	color: white;
}

section a,
section a:visited,
.whiteLink {
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding-bottom: 1rem;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: var(--baseFont);
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
    display: none;
}

.valid {
	color: rgb(31, 163, 31);
	margin-left: 0.25rem;
}

.invalid {
	color: rgb(199, 96, 96);
	margin-left: 0.25rem;
}

.errmsg {
	color: rgb(199, 96, 96);
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid transparent;
	-webkit-text-fill-color: var(--baseFont);
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	transition: background-color 5000s ease-in-out 0s;
	outline: none;
}



.rightPage,
.leftPage{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 43%;
	margin-top: 60px;
	color: var(--baseFont);
	font-size: 22px;
	align-items: center;
	overflow: auto;
	height: 910px;

}

.leftPage img{
	width: 400px;
	height: 400px;
}

.colums{
	box-sizing: border-box;
	margin-top: 60px;
	display: grid;
    grid-template-columns: repeat(2, 43vw);
	gap: 40px;
	overflow: auto;
	height: 1000px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.simplePage{
	height: 700px;
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 25px;
}

.simplePage h2:first-child{
	margin-top: 15%;
}