@import './app.css';
@import './adaptive.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root{
	--baseFont: #3C1C0F;
	--placeholderFont: #0000009E;

	--box-shadow: #733F26;

	--inputBg: #F9F5E5;

	--baseBackground: #F2E6BE;
	--formBackground: #2c1912;

	--scroll:#be9360;
	--link: #553815;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Nunito', sans-serif;
	color: var(--baseFont);
}

body {
	min-height: 100vh;
	background-image: url('../public/img/png/fon_b.jpg');
}

.App {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content{
    color: white;
    padding: 25px 0;
}

input[type='text'],
input[type='password'],
button,
textarea {
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	padding: 0.25rem;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	transition: all 0.3s;
}

button:not(:disabled):hover{
	background-color: var(--baseBackground);
	color: var(--baseFont);
	cursor: pointer;
}

.noAccess{
	text-align: center;
	height: 70vh;
}

.noAccess p{
	font-size: 25px;
	color: white;
	margin-bottom: 10px;
}

.none{
	display: none;
}

a{
	color: inherit;
}